.header {
  display: flex;

  padding-top: 22px;
  padding-bottom: 26px;

  width: 100%;

  position: fixed;
  z-index: 50;

  background: #f9f9f9;

}

.header__content {
  width: 1116px;
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 5;
}

.header__content-right {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
