.title {
  font-style: normal;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: $gray;
}

.subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4.6rem;

  color: #333333;

  margin-top: 20px;

}

.subtitle > span {
    color: $blue;
}