<div class="about">
  <a href="#" name="about"></a>
  <div class="about-content container">
    <div class="about-text col-lg-5">
      <div class="about-text__title titles">
        <div class="title">
          О нас
        </div>
        <div class="subtitle">
          Компания <br />
          <span>BuhOne</span>
        </div>
      </div>
      <p class="about-text__text">
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и
        вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
        латинице с начала XVI века. В то время некий безымянный печатник создал
        большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
        распечатки образцов. Lorem Ipsum не только успешно пережил без заметных
        изменений пять веков, но и перешагнул в электронный дизайн.
      </p>
    </div>

    <div class="about-cards col-lg-6">
      <div class="about-cards__card">
        <span class="card-title__number">90</span>
        <span class="card-title__text">
          Завершено крупных сделок
        </span>
        <a href="#" class="card-link">Все кейсы</a>
      </div>
      <div class="about-cards__card">
        <span class="card-title__number">90</span>
        <span class="card-title__text">
          Завершено крупных сделок
        </span>
        <a href="#" class="card-link">Все кейсы</a>
      </div>
      <div class="about-cards__card">
        <span class="card-title__number">90</span>
        <span class="card-title__text">
          Завершено крупных сделок
        </span>
        <a href="#" class="card-link">Все кейсы</a>
      </div>
      <div class="about-cards__card">
        <span class="card-title__number">90</span>
        <span class="card-title__text">
          Завершено крупных сделок
        </span>
        <a href="#" class="card-link">Все кейсы</a>
      </div>
    </div>
  </div>
</div>
