<div class="contact">
  <a href="#" name="contact"></a>
  <div class="container">
    <div class="contact-info col-lg-6">
      <div class="contact-info__title subtitle">
        Связь с нами
      </div>
      <div class="contact-info__discription">
        У вас остались вопросы? Напишите нам - мы ответим в ближайшее время!
      </div>
      <div class="contact-info__contacts">
        <div class="contacts-item item--phone">
          <svg class="contacts-item-icon">
            <use xlink:href="#phone"></use></svg
          >8 (111) 222-33-44
        </div>
        <div class="contacts-item item--email">
          <svg class="contacts-item-icon item-icon--email">
            <use xlink:href="#mail"></use></svg
          >order@buhone.ru
        </div>
      </div>
    </div>
    
      <form class="contact-form col-lg-6" action="#" method="POST">
        <div class="name-and-email">
          <div class="form__group form__group--name">
            <input class="form__input" type="text" placeholder=" " />
            <label for="" class="form__label">Имя</label>
          </div>
          <div class="form__group form__group--email">
            <input class="form__input" type="email" placeholder=" " />
            <label for="" class="form__label">Email</label>
          </div>
        </div>

        <div class="form__group form__group--message">
          <textarea
          rows="5"
            class="form__input"
            placeholder=" "
          ></textarea>
          <label for="" class="form__label">Сообщение</label>
        </div>
        <button class="form__button">Отправить сообщение</button>
      </form>
   
  </div>
</div>
