<header class="header">
  <div class="header__content container">
    <div class="header__content-left">
      <a href="#" class="header__logo">
        <img src="assets/img/logo.png" alt="logo" />
        <span class="header__logo-text">BuhOne</span>
      </a>
    </div>

    <div class="header__content-right">
      <div class="header__info">
        <ul class="header__info-list">
          <li class="info-list-item">
            <svg class="list__item-icon">
              <use xlink:href="#phone"></use></svg
            >8 (111) 222-33-44
          </li>

          <li class="info-list-item">
            <svg class="list__item-icon">
              <use xlink:href="#clock"></use></svg
            >Пн-Пт 10:00-18:00
          </li>

          <li class="info-list-item">
            <svg class="list__item-icon">
              <use xlink:href="#mail"></use></svg
            >order@buhone.ru
          </li>

          <li class="info-list-item">
            <svg class="list__item-icon">
              <use xlink:href="#geo"></use></svg
            >Невский пр. 130
          </li>
        </ul>
      </div>

      <nav class="header__menu">
        <ul class="menu">
          <li><a href="#" class="header__menu-link">главная</a></li>
          <li>
            <a href="#services" class="header__menu-link action">услуги</a>
          </li>
          <li><a href="#our-clients" class="header__menu-link">кейсы</a></li>
          <li><a href="#about" class="header__menu-link ">о компании</a></li>
          <li><a href="#contact" class="header__menu-link">контакты </a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
