

<div class="our-clients__slider">
  <a href="#" name="our-clients"></a>
    <button class=" blue-arrow arrow arrow--next" id="our-clients__arrow--next">
        <svg class="slider-arrow-icon slider-arrow-icon--next">
          <use xlink:href="#slider-arrow"></use>
        </svg>
      </button>
      <button class="blue-arrow arrow arrow--prev" id="our-clients__arrow--prev">
        <svg class="slider-arrow-icon slider-arrow-icon--prev">
          <use xlink:href="#slider-arrow"></use>
        </svg>
      </button>

            <div class="our-clients">
                <div class="container">
                    <div class="titles">
                        <div class="title">
                            Наши клиенты
                        </div>
                        <div class="subtitle">
                            С нами работают
                        </div>
                      </div>
                      <div class="our-clients__content" id="our-clients__slider">
                          <div>
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                          </div>
                          <div>
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                          </div>
                          <div>
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                            <img class="slider-img" src="/assets/img/clients/microsoft.png" alt="microsoft">
                          </div>

                      </div>
                </div>
            </div>
    </div>
    </div>


