<div class="reviews">
  <div class="reviews__slider">
    <button class="blue-arrow arrow arrow--next" id="reviews__arrow--next">
      <svg class="slider-arrow-icon slider-arrow-icon--next">
        <use xlink:href="#slider-arrow"></use>
      </svg>
    </button>
    <button class="blue-arrow arrow arrow--prev" id="reviews__arrow--prev">
      <svg class="slider-arrow-icon slider-arrow-icon--prev">
        <use xlink:href="#slider-arrow"></use>
      </svg>
    </button>

    <div class="container">
      <div class="titles">
        <div class="title">
          Отзывы
        </div>
        <div class="subtitle">
          Ваши благодарности
        </div>
      </div>
      <div class="reviews__slider" id="reviews__slider">
        <div class="reviews__content">
          <div class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов, используя Lorem
            Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто
            используемый в печати и вэб-дизайне.
          </div>
          <div class="reviews__person">
            <img
              class="reviews__person-portret"
              src="assets/img/reviews/Ellipse.png"
              alt="reviews"
            />
            <div class="person-info">
              <p class="reviews__person-name">Екатерина Иванова</p>
              <p class="reviews__person-discription">Директор ООО “Раз-два”</p>
            </div>
          </div>
        </div>
        <div class="reviews__content">
          <div class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов, используя Lorem
            Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто
            используемый в печати и вэб-дизайне.
          </div>
          <div class="reviews__person">
            <img
              class="reviews__person-portret"
              src="assets/img/reviews/Ellipse.png"
              alt="reviews"
            />
            <div class="person-info">
              <p class="reviews__person-name">Екатерина Иванова</p>
              <p class="reviews__person-discription">Директор ООО “Раз-два”</p>
            </div>
          </div>
        </div>
        <div class="reviews__content">
          <div class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов, используя Lorem
            Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто
            используемый в печати и вэб-дизайне.
          </div>
          <div class="reviews__person">
            <img
              class="reviews__person-portret"
              src="assets/img/reviews/Ellipse.png"
              alt="reviews"
            />
            <div class="person-info">
              <p class="reviews__person-name">Екатерина Иванова</p>
              <p class="reviews__person-discription">Директор ООО “Раз-два”</p>
            </div>
          </div>
        </div>
        <div class="reviews__content">
          <div class="reviews__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
            латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов, используя Lorem
            Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто
            используемый в печати и вэб-дизайне.
          </div>
          <div class="reviews__person">
            <img
              class="reviews__person-portret"
              src="assets/img/reviews/Ellipse.png"
              alt="reviews"
            />
            <div class="person-info">
              <p class="reviews__person-name">Екатерина Иванова</p>
              <p class="reviews__person-discription">Директор ООО “Раз-два”</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
