<div class="services">
  <a href="#" name="services"></a>
  <div class="container">
    <div class="titles">
      <div class="title">
        Наши услуги
      </div>
      <div class="subtitle">
        Мы специализируемся
      </div>
    </div>
    <div class="services-list">
      <div class="services-card">
        <p class="services-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam suscipit recusandae id molestias ex quasi laborum expedita, doloribus sequi animi fuga at magni maxime totam, temporibus accusantium porro ipsam!</p>
        <a class="services-card__link" href="#" target="_blank">
          <img src="assets/img/services-card.jpg" alt="alt text" />

          <div class="services-card__title">
            Бухгалтерское обслуживание
          </div>
        </a>
      </div>
      <div class="services-card">
        <p class="services-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam suscipit recusandae id molestias ex quasi laborum expedita, doloribus sequi animi fuga at magni maxime totam, temporibus accusantium porro ipsam!</p>
        <a class="services-card__link" href="#" target="_blank">
          <img src="assets/img/services-card.jpg" alt="alt text" />
          <div class="services-card__title">
            Бухгалтерское обслуживание
          </div>
        </a>
      </div>
      <div class="services-card">
        <p class="services-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam suscipit recusandae id molestias ex quasi laborum expedita, doloribus sequi animi fuga at magni maxime totam, temporibus accusantium porro ipsam!</p>
        <a class="services-card__link" href="#" target="_blank">
          <img src="assets/img/services-card.jpg" alt="alt text" />

          <div class="services-card__title">
            Бухгалтерское обслуживание
          </div>
        </a>
      </div>
      <div class="services-card">
        <p class="services-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam suscipit recusandae id molestias ex quasi laborum expedita, doloribus sequi animi fuga at magni maxime totam, temporibus accusantium porro ipsam!</p>
        <a class="services-card__link" href="#" target="_blank">
          <img src="assets/img/services-card.jpg" alt="alt text" />

          <div class="services-card__title">
            Бухгалтерское обслуживание
          </div>
        </a>
      </div>
      <div class="services-card">
        <p class="services-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam suscipit recusandae id molestias ex quasi laborum expedita, doloribus sequi animi fuga at magni maxime totam, temporibus accusantium porro ipsam!</p>
        <a class="services-card__link" href="#" target="_blank">
          <img src="assets/img/services-card.jpg" alt="alt text" />

          <div class="services-card__title">
            Бухгалтерское обслуживание
          </div>
        </a>
      </div>
      <div class="services-card">
        <p class="services-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam suscipit recusandae id molestias ex quasi laborum expedita, doloribus sequi animi fuga at magni maxime totam, temporibus accusantium porro ipsam!</p>
        <a class="services-card__link" href="#" target="_blank">
          <img src="assets/img/services-card.jpg" alt="alt text" />

          <div class="services-card__title">
            Бухгалтерское обслуживание
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
